@model TaskManagementMvc.Models.Company

<div class="container">
    <h2>کاربران شرکت: @Model.Name</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>نام</th>
                <th>نام کاربری</th>
                <th>نقش‌ها</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model.Users)
            {
                <tr>
                    <td>@u.FullName</td>
                    <td>@u.UserName</td>
                    <td>@string.Join(", ", u.UserRoles.Select(ur => ur.Role.Name))</td>
                </tr>
            }
        </tbody>
    </table>
</div>


