@model TaskManagementMvc.Models.Company

<div class="container">
    <h2>کاربران شرکت: @Model.Name</h2>
    <corp-table headers="نام,نام کاربری,نقش‌ها" striped small dense>
        @foreach (var u in Model.Users)
        {
            <tr>
                <td>@u.FullName</td>
                <td>@u.UserName</td>
                <td>@string.Join(", ", u.UserRoles.Select(ur => ur.Role.Name))</td>
            </tr>
        }
    </corp-table>
</div>


